@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.fon_container {

    background-image: url("/img/fon\ sky.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
    width: 100%;
    margin: none;
    padding: none;

}
.container {
    color: hwb(132 4% 64%);
    padding: 16px;
    width: 60%;
    margin: 64px auto;
    border-radius: 20px;
    background-position: center;
}


.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: rgb(236, 26, 26);
    border: none;
    background: #f0f3f0;
    outline: none;
    padding: 8px 48px;
    border-radius: 10px;
  
}

input {
    border: none;
    background: #f0f3f0;
    outline: none;
    color: #191313;
    padding: 8px 48px;
    border-radius: 10px;
    background-position: center;
}

input::placeholder {
    color: #110202;
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #0a0a0a;
}

.weather__units {
    font-size: 24px;
}

.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 16px;
}

.weather__body {
    text-align: center;
    margin-top: 48px;
    font-size: 24px;
}

.weather__datetime {
    margin-bottom: 32px;
    font-size: 18px;
}

.weather__forecast {
    background:none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 30px;
    background-size: 16px;
    color: #1915f1;
}

.weather__icon img {
    width: 100px;

}

.weather__temperature {
    font-size: 36px;
}

.weather__minmax {
    display: flex;
    justify-content: center;
}

.weather__minmax p {
    font-size: 14px;
    margin: 6px;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    margin-top: 36px;
}

.weather__card {
    display: flex;
    align-items: center;
    background: none;
    padding: 10px;
    color: hsl(270, 89%, 45%);
}

.weather__card i {
    font-size: 36px;
    margin-right: 16px;
}

.weather__card p {
    font-size: 16px;
    align-items: center;
}

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 8px;
    }
}


@media(max-width: 400px){
    .weather__info {
        grid-template-columns: none;
    }
}
